*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid{
    height: 560px;
    width: 560px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
}

.grid div{
    height: 70px;
    width: 70px;
    transition: all 0.5s;
}

body{
    height: 100%;
    background-color: #FCBCD7;
    background-image: url(images/clouds.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.main{
    display: flex;
    margin-top: 4vh;
}

.heading{
    background-color: rgba(255, 255, 255, 0.2);
    height: 10vh;
    width: 20vw;
    text-align: center;
    margin-top: 9vh;
    border-radius: 0.5rem;
    padding-top: 1.5vh;
    font-family: sans-serif;
    font-weight: bold;
    border: solid rgb(209, 24, 85) 2px;
    color: #C2185B;
}

.heading:hover{
    background-color: rgb(199, 78, 134);
    color: white;
    cursor: pointer;
}

.score{
    margin-left: 7vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.appreciation{
    height: 10vh;
    width: 20vw;
    text-align: center;
    margin-top: 7vh;
    border-radius: 0.5rem;
    padding-top: 1.5vh;
    font-family: sans-serif;
    font-weight: bold;
    color: #C2185B;
}

.log{
    height: 250px;
    width: 250px;
}

@media (max-width: 768px){
    
    .grid{
        height: 350px;
        width: 350px;
        background-color: rgba(255, 255, 255, 0.2);
        display: flex;
        flex-wrap: wrap;
        border-radius: 0.5rem;
    }
    
    .grid div{
        height: 70px;
        width: 70px;
        transition: all 0.5s;
    }
    
    .mainGrid{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    body{
        height: 100%;
        background-color: #FCBCD7;
        background-image: url(images/clouds.jpg);
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
    }
    
    .main{
        display: flex;
        flex-direction: column;
        margin-top: 0vh;
    }
    
    .heading{
        background-color: rgba(255, 255, 255, 0.2);
        height: 10vh;
        width: 30vw;
        text-align: center;
        margin-top: 0vh;
        border-radius: 0.5rem;
        padding-top: 0vh;
        font-family: sans-serif;
        font-weight: bold;
        border: solid rgb(209, 24, 85) 2px;
        color: #C2185B;
        font-size: 10px;
        margin-right: 2vw;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    .heading:hover{
        background-color: rgb(199, 78, 134);
        color: white;
        cursor: pointer;
    }
    
    .score{
        margin-left: 0vw;
        margin-bottom: 4vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100vw;
    }
    
    .appreciation{
        height: 10vh;
        width: 20vw;
        text-align: center;
        margin-top: 0vh;
        border-radius: 0.5rem;
        padding-top: 0vh;
        font-family: sans-serif;
        font-weight: bold;
        color: #C2185B;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .log{
        height: 150px;
        width: 200px;
    }

    .logo{
        margin-right: 3vw;
    }
    
    
}

